
footer
  ul.socialMedia
    li.socialMedia_item
      a(href='https://github.com/chlorophyllkid', title='Github profile', target='_blank')
        span.icon.-github
          include svg/icon-github.svg

    li.socialMedia_item
      a(href='https://twitter.com/chlorophyllkid', title='Twitter profile', target='_blank')
        span.icon.-twitter
          include svg/icon-twitter.svg
