.base-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr) 1.125rem;
  grid-auto-flow: dense;
  gap: 16px;
  margin-left: 16px;
  margin-right: 16px;

  @media (min-width: 48rem) {
    grid-template-columns: repeat(8, 1fr);
    gap: 24px;
    margin-left: 24px;
    margin-right: 24px;
  }

  @media (min-width: 64rem) {
    grid-template-columns: repeat(10, 64px);
    margin-left: auto;
    margin-right: auto;
    width: 856px;
  }

  @media (min-width: 80rem) {
    gap: 32px;
    width: 928px;
  }
}

.new-grid {
  display: grid;
  grid-template-columns:
    [full-start] minmax(0rem, 1fr)
    [inner-start left-main-start] minmax(0, 5fr) [left-main-end]
    minmax(0rem, 1fr)
    [right-main-start] minmax(0, 5fr) [right-main-end inner-end]
    minmax(0rem, 1fr) [full-end];
  gap: clamp(0.5rem, calc(0.5rem + 1vw), 2rem);

  &.no-gap {
    gap: 0;
  }

  & > * {
    grid-column: inner;

    @media (min-width: 80rem) {
      grid-column: left-main;
    }
  }

  & .left-main {
    grid-column: left-main;
  }

  & .right-main {
    grid-column: right-main;
  }

  & .full-width {
    grid-column: full;
  }
}
