.post {
  display: flex;
  flex-direction: column;
  gap: clamp(0.5rem, calc(0.5rem + 1vw), 2rem);
}

.post-header {
  display: flex;
  flex-direction: column;
}

.post-published {
  & time {
    margin-left: 0.5rem;
  }
}

.post-tags {
}

.post-content {
  & p {
    font-size: 1rem;
    line-height: 1.5;
  }

  & p + p,
  & ul + p,
  & p + ul,
  & ol + p,
  & p + ol,
  & pre + p,
  & p + pre,
  & .markdownItHeadlineWrapper + p {
    margin-top: 2rem;
  }

  & p + .markdownItHeadlineWrapper {
    margin-top: 4rem;
  }

  & .markdownItHeadlineWrapper {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    & a {
      order: 0;
      margin-right: 0.5ch;
    }

    & h2,
    & h3 {
      order: 1;
    }

    & h2 + a {
      font-size: var(--font-size-h2);
      line-height: 1.25;
    }

    & h3 + a {
      font-size: var(--font-size-h3);
      line-height: 1.25;
    }
  }
}
