doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='initial-scale=1.0, width=device-width')

    title= title

    block stylesheets
      link(rel='stylesheet' href='/assets/stylesheet.css')


  body
    block page
      main(id='main')
        h1= headline
        != content

      nav.sidebar
        a.sidebar_link(href='https://github.com/chlorophyllkid', title='Github profile', target='_blank', rel="noopener")
          span.icon.-github
            include _includes/svg/icon-github.svg
        a.sidebar_link(href='https://twitter.com/chlorophyllkid', title='Twitter profile', target='_blank', rel="noopener")
          span.icon.-twitter
            include _includes/svg/icon-twitter.svg


    block scripts
      script(src='/assets/script.js')
