:root {
  /* colors */
  --white: #f5f5f5;
  --black: #252422;
  --gray: #333333;

  --magenta-light: #e780be;
  --magenta: #cf007c;
  --green: #a7c957;
  --green-dark: #687e36;

  /* gradients */
  --magenta-gradient: linear-gradient(to bottom right, var(--magenta-light), var(--magenta));
  --green-gradient: linear-gradient(to bottom right, var(--green), var(--green-dark));
}

/* light theme */
:root {
  --background-color: var(--white);
  --text-color: var(--black);
  --text-color-link: var(--magenta);

  --primary-color: var(--magenta);
  --primary-color-gradient: var(--magenta-gradient);
}

/* dark theme */
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: var(--gray);
    --text-color: var(--white);
    --text-color-link: var(--green);

    --primary-color: var(--green);
    --primary-color-gradient: var(--green-gradient);
  }
}
