:root {
  --background-color: #f5f5f5;
  --text-color: #252422;

  --primary-color-light: #e780be;
  --primary-color-gradient: linear-gradient(to bottom right, #e780be, #cf007c);
  --primary-color-dark: #cf007c;

  --text-color-link: var(--primary-color-dark);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #403d39;
    --text-color: #f5f5f5;

    --primary-color-light: #a7c957;
    --primary-color-gradient: linear-gradient(to bottom right, #a7c957, #687e36);
    --primary-color-dark: #687e36;

    --text-color-link: var(--primary-color-light);
  }
}
