.postlist {
  grid-column: 1 / -1;
  list-style: none;
  padding: 0;
}
.postlist-item {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  counter-increment: start-from -1;
  line-height: 1.8;

  & .post-tag {
    margin-left: 0.5rem;
  }
  & .post-tag + .post-tag {
    margin-left: 0.5rem;
    margin-top: 0;
  }
}
.postlist-item:before {
  display: inline-block;
  pointer-events: none;
  content: '' counter(start-from, decimal-leading-zero) '. ';
  line-height: 100%;
  text-align: right;
}
.postlist-date,
.postlist-item:before {
  font-size: 0.8125em; /* 13px /16 */
  color: var(--text-color);
}
.postlist-date {
  word-spacing: -0.5px;
}
.postlist-link {
  padding-left: 0.25em;
  padding-right: 0.25em;
  text-underline-position: from-font;
  text-underline-offset: 0;
  text-decoration-thickness: 1px;
}
.postlist-item-active .postlist-link {
  font-weight: bold;
}
.tmpl-home .postlist-link {
  font-size: 1.1875em; /* 19px /16 */
  font-weight: 700;
}
