---
layout: layouts/base/base.njk
permalink: /
title: Christopher Voigt
---

{% include "partials/banner/banner.njk" %}

<h1>Hi, I'm Chris</h1>
<p>I'm currently working as a Senior Frontend Developer at <a href="https://www.queo.de/">queo</a>.</p>

{% set maxPosts = collections.posts.length | min(3) %}
<h2>Here are
  {% if maxPosts == 1 %} example Post
  {% else %}
    {{ maxPosts }} example Posts{% endif %}
</h2>

<p>I might update those for real posts later. For now they work as a placeholder to style a bunch of stuff.</p>

{% set postlist = collections.posts | head(-3) %}
{% set postlistCounter = collections.posts | length %}
{% include "partials/postlist/postlist.njk" %}

<p>More posts can be found in <a href="{{ '/posts/' | url }}">the archive</a>.</p>
