
.socialMedia {
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 80ch;
  margin: 0 auto;

  &_link + &_link {
    margin-left: 1rem;
  }

  &_link {
    padding: .5rem;
    line-height: 1;

    svg {
      width: 34px;
      height: 34px;
      transition: transform .2s ease-out;

      path {
        fill: #303030;
        transition: fill .2s ease-out;
      }
    }

    &:hover,
    &:focus {
      outline: 0;

      svg {
        transform: scale(1.25);
      }
    }
  }
}
