:root {
  /* colors */
  --white: #f5f5f5;
  --black: #252422;
  --gray: #333333;

  --magenta-light: #e780be;
  --magenta: #cf007c;
  --green: #a7c957;
  --green-dark: #687e36;

  /* gradients */
  --magenta-gradient: linear-gradient(to bottom right, var(--magenta-light), var(--magenta));
  --green-gradient: linear-gradient(to bottom right, var(--green), var(--green-dark));

  --magenta-banner-gradient: linear-gradient(135deg, var(--magenta) 0%, var(--magenta-light) 50%, var(--magenta) 100%);
  --green-banner-gradient: linear-gradient(135deg, var(--green-dark) 0%, var(--green) 50%, var(--green-dark) 100%);
}

:root {
  --background-color: var(--white);
  --text-color: var(--black);
  --text-color-link: var(--magenta);

  --primary-color: var(--magenta);
  --primary-color-gradient: var(--magenta-gradient);

  --banner-gradient: var(--magenta-banner-gradient);

  @media (prefers-color-scheme: dark) {
    --background-color: var(--gray);
    --text-color: var(--white);
    --text-color-link: var(--green);

    --primary-color: var(--green);
    --primary-color-gradient: var(--green-gradient);

    --banner-gradient: var(--green-banner-gradient);
  }
}

html[data-theme='light'] {
  --background-color: var(--white);
  --text-color: var(--black);
  --text-color-link: var(--magenta);

  --primary-color: var(--magenta);
  --primary-color-gradient: var(--magenta-gradient);

  --banner-gradient: var(--magenta-banner-gradient);
}

html[data-theme='dark'] {
  --background-color: var(--gray);
  --text-color: var(--white);
  --text-color-link: var(--green);

  --primary-color: var(--green);
  --primary-color-gradient: var(--green-gradient);

  --banner-gradient: var(--green-banner-gradient);
}
