/* iOS Safari Rounded Corners Fix */
input {
  border-radius: 0;
  -webkit-border-radius: 0px;
}

input[type='search'] {
  -webkit-appearance: none;
}

/* clear button */
input::-ms-reveal,
input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

/* type=number arrows */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}
