<div class="banner full-width new-grid no-gap">
  <div class="banner-background full-width"></div>

  <svg class="right-main portrait" viewBox="0 0 500 600" xmlns="http://www.w3.org/2000/svg">
    <mask id="svgMask">
      <rect id="mask01" y="50%" rx="55" ry="55" fill="#fff"/>
      <rect id="mask02" y="50%" rx="55" ry="55" fill="#fff"/>
      <rect id="mask03" y="50%" rx="55" ry="55" fill="#fff"/>
    </mask>
    <image xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="{{ '/img/me.webp' | url }}" mask="url(#svgMask)" />
  </svg>
</div>