/* Header */
header {
  padding-top: 24px;

  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: clamp(0.5rem, calc(0rem + 100vw), 1rem);

  &:focus {
    outline: none;

    & .title {
      outline-offset: 4px;
      outline-color: var(--text-color-link);
    }
  }

  & .icon {
    --size: calc(var(--font-size-h3) * 2);

    flex-shrink: 0;
    display: block;
    position: relative;
    width: var(--size);
    height: calc(var(--size) * 2 / 3);
    background: var(--primary-color-gradient);
    border-radius: calc(var(--size) / 10);

    &::after {
      content: '';
      display: block;
      width: inherit;
      height: inherit;
      background: inherit;
      border-radius: inherit;
      transform: rotate(60deg);

      position: absolute;
    }

    &::before {
      content: '';
      display: block;
      width: inherit;
      height: inherit;
      background: inherit;
      border-radius: inherit;
      transform: rotate(-60deg);

      position: absolute;
    }
  }

  & .title {
    font-size: var(--font-size-h3);
    line-height: 1.25;
    font-weight: bold;
    color: var(--text-color);
    outline: 1px solid transparent;
  }
}

/* ToDo: */
.nav {
  display: none;
}
